html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #3f1622;
  font-size: 1.5rem;
}

nav ol {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 1.125rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-style: normal;
  color: #8f2440;
}

figure + p {
  font-weight: bold;
  font-size: 1.15rem;
}

blockquote {
  font-family: "PT Serif", serif;
  font-size: 1.45rem;
  font-style: italic;
  font-weight: normal;
}

blockquote > strong {
  font-weight: normal;
}

h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

dl > dt {
  color: #222;
  font-family: "PT Serif", serif;
  font-size: 1rem;
  font-weight: bold;
}

.footer {
  font-style: normal;
  font-size: .9rem;
}

ul li {
  list-style-type: circle;
  font-size: .8rem;
}

.chris {
  font-size: .8rem;
  font-style: italic;
  display: block;
  padding-top: 2em;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: .95em;
}

.ol > li {
  list-style-type: lower-greek;
}

h2 + p {
  font-style: italic;
}
